:root {
  --CbackGround: #FFFFFF;
  --Ctext: #0F0F0F;
  --CchapterHeader: #574F7D;
  --CsectionHeader: #574F7D;
  --Clink: #503A65;
  --CcodeBackground: #E0F0EA;
  --CcodeText: #95ADBE;
  --CtableBackground: #95ADBE;
  --CtableText: #E0F0EA;
}


body {
  background-color: var(--CbackGround);
  height: 98vh;
}

p {
  color: var(--Ctext);
  
}

.chapter_h {
  color: var(--CchapterHeader);
}

.section_h {
  color: var(--CsectionHeader);
}

li {
  color: var(--Ctext);
}

a {
  text-decoration: none;
  color: var(--Clink);
}

code {
  /*background-color: var(--CcodeBackground);*/
  color: var(--CcodeText);
  font-family: IBM Plex Mono;
}
.code {
  background-color: var(--CcodeBackground);
  color: var(--CcodeText);
  padding: 4px;
  border-radius: 5px;
}

table {
  background-color: var(--CtableBackground);
  color: var(--CtableText);
/*  border-collapse: collapse; */
  border-radius: 5px;
}
table code {
  color: var(--CtableText);
}
tr:nth-child(even) {
  background-color: var(--CsectionHeader);
}
