body {
  background-color: #fafcf9;
}
.code_example {
  background-color: #f2f2f2;
  margin: auto;
}
.chapter_header {
  background-color:  	#d2e7d6;
  margin: auto;
  padding: 1px;
}
.browser {
  border: 1px solid black;
  background-color: #e8f4ea;
  margin: auto;
  padding: 8px;
}
.brow_p {
  margin: inherit;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid black;
}
.table {
  border: 1px solid black;
  margin: auto;
  padding: 2px;
}
.table_caption {
  padding: 4px;
  background-color: #e8f4ea;
}
tr:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
  padding: 2px;
}
th:nth-child(even),td:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
  padding: 2px;
}