<!DOCTYPE css>
<head>
  <meta content="text/css; charset=UTF-8" />
  <title>Chapter 5 Style</title>
</head>
<style>
div {
  class: browser
  border: 2px outset black;
  background-color: grey;
}
</style>
